<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div id="footer" th:fragment="footerUser">
  <footer class="ftco-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 logo">
              <a href="#">VTSport - Giải Pháp Sân Thể Thao</a>
            </h2>
          </div>
        </div>

        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Chính sách và điều kiện</h2>
            <ul class="list-unstyled">
              <li><a th:href="@{/chinhsach}"><span
                      class="fa fa-chevron-right mr-2"></span>Chính sách</a></li>
              <li><a th:href="@{/quydinh}"><span
                      class="fa fa-chevron-right mr-2"></span>Quy Định & Điều Kiện</a></li>

            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Liên Hệ Nhanh</h2>
            <ul class="list-unstyled">
              <li><a th:href="@{/contact}"><span
                      class="fa fa-chevron-right mr-2"></span>Liên Hệ</a></li>

            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Thông tin liên hệ</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map marker"></span><span
                        class="text">Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span
                        class="text">(84.24)37663311</span></a></li>
                <li><a href="#"><span
                        class="icon fa fa-paper-plane pr-4"></span><span class="text">vtsport@gmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-black">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <p class="mb-0" style="color: rgba(255, 255, 255, .5);">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Bản quyền &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!--  <div id="ftco-loader" class="show fullscreen">-->
<!--    <svg class="circular" width="48px" height="48px">-->
<!--      <circle class="path-bg" cx="24" cy="24" r="22" fill="none"-->
<!--              stroke-width="4" stroke="#eeeeee" />-->
<!--      <circle class="path" cx="24" cy="24" r="22" fill="none"-->
<!--              stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />-->
<!--    </svg>-->
<!--  </div>-->
  <script src="/user/js/jquery.min.js"></script>
  <script src="/user/js/angular.min.js"></script>
  <script src="/user/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/user/js/popper.min.js"></script>
  <script src="/user/js/bootstrap.min.js"></script>
  <script src="/user/js/jquery.easing.1.3.js"></script>
  <script src="/user/js/jquery.waypoints.min.js"></script>
  <script src="/user/js/jquery.stellar.min.js"></script>
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/jquery.magnific-popup.min.js"></script>
  <script src="/user/js/jquery.animateNumber.min.js"></script>
  <script src="/user/js/scrollax.min.js"></script>
  <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/user/js/google-map.js"></script>
  <script src="/user/js/main.js"></script>

  <script th:inline="javascript">
      var message = /*[[${message}]]*/ 'default';
      if(message != null){
        toastr.success(message);
      }
      var error = /*[[${error}]]*/ 'default';
      if(error != null){
        toastr.error(error);
      }
      var warning = /*[[${warning}]]*/ 'default';
      if(warning != null){
        toastr.warning(warning);
      }
      var success = /*[[${success}]]*/ 'default';
      if(success != null){
        toastr.success(success);
      }
    </script>
</div>
</body>
</html>