<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
    <th:block id="menu" th:fragment="headerUser">
        <div class="wrap" style="z-index: 9; position: relative">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                        <p class="mb-0 phone pl-md-2">
                            <a href="/"
                                style="font-family: 'Arial Black', sans-serif; color: #000000; letter-spacing: 4px; text-shadow: 2px 2px 5px gray; text-align: center;">
                                VT SPORT
                            </a>

                        </p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-md-end">
                        <!-- check login -->
                        <!-- Thẻ div để hiển thị khi chưa đăng nhập -->
                        <div th:if="${users == null}" class="reg m-1" style="display: block;">
                            <p class="mb-0" sec:authorize="isAnonymous()">
                                <a href="/login" class="mr-2" style="color: white;">Đăng nhập |</a>
                                <a href="/regis " style="color: white;">Đăng ký</a>
                            </p>
                            <p class="mb-0" sec:authorize="isAuthenticated()">
                                <a href="/taikhoan" class="mr-2" style="color: white;"
                                    th:text="'Xin chào: '+${userlogged.fullName}+' !'">Tài khoản |</a>
                                <a href="/logout" style="color: white;">Đăng xuất</a>
                            </p>
                        </div>
                        <!-- end check login -->
                    </div>

                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <div sec:authorize="isAuthenticated()" class="order-lg-last btn-group">
                    <a href="/cart" class="btn-cart">
                        <span class="flaticon-shopping-bag"></span>
                        <div class="d-flex justify-content-center align-items-center">
                            <small th:text="${soLuongGhGlobal}"></small>
                        </div>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a th:href="@{/field}" class="nav-link">Sân</a></li>
                        <li class="nav-item"><a th:href="@{/team}" class="nav-link">Đội</a></li>
                        <li class="nav-item"><a th:href="@{/event}" class="nav-link">Tin Tức</a></li>
                        <li class="nav-item"><a th:href="@{/product}" class="nav-link">Cửa hàng</a></li>
                        <li class="nav-item"><a th:href="@{/about}" class="nav-link">Về chúng tôi</a></li>
                        <li class="nav-item"><a th:href="@{/contact}" class="nav-link">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>

</body>

</html>