<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>VT SPORT - Về Chúng Tôi</title>
	<th:block th:replace="fragment/libuser :: libheader"></th:block>

</head>
<body>

<th:block th:replace="fragment/headerUser :: headerUser"></th:block>

	<section class="hero-wrap hero-wrap-2"
		style="background-image: url('/user/images/about.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate mb-5 text-center">
					<p class="breadcrumbs mb-0">
						<span class="mr-2"><a href="index.html">Trang Chủ <i
								class="fa fa-chevron-right"></i></a></span> <span>Về Chúng Tôi <i
							class="fa fa-chevron-right"></i></span>
					</p>
					<h2 class="mb-0 bread">Về Chúng Tôi</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-intro">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-4 d-flex">
					<div class="intro d-lg-flex w-100 ftco-animate">
						<div class="icon">
							<span class="flaticon-support"></span>
						</div>
						<div class="text">
							<h2>Hỗ trợ 24/7</h2>
							<p>Bạn có thể yên tâm, chúng tôi luôn đồng hành cùng bạn,
								ngay cả vào cuối tuần và ngày lễ.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="intro color-1 d-lg-flex w-100 ftco-animate">
						<div class="icon">
							<span class="flaticon-cashback"></span>
						</div>
						<div class="text">
							<h2>Thanh toán nhiều hình thức</h2>
							<p>Chúng tôi đáp ứng nhu cầu thanh toán của bạn với sự linh
								hoạt và tiện lợi. Bạn có thể chọn từ nhiều phương thức thanh
								toán phù hợp với bạn.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="intro color-2 d-lg-flex w-100 ftco-animate">
						<div class="icon">
							<span class="flaticon-free-delivery"></span>
						</div>
						<div class="text">
							<h2>Miễn phí giao hàng &amp; Hoàn trả</h2>
							<p>Chúng tôi cam kết cung cấp dịch vụ giao hàng nhanh chóng
								và miễn phí cho mọi đơn hàng của bạn. Chúng tôi cũng nhận đổi
								hoặc hoàn trả một cách dễ dàng và không mất phí.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb" style="background-image: url('/user/images/bgAll.png'); background-repeat: repeat; background-size: 100% 100%;">
		<div class="container">
			<div class="row">
				<div
					class="col-md-12 img img-3  justify-content-center align-items-center"
					style="background-image: url(/user/images/Logo3.png);"></div>
				<div class="col-md-12 wrap-about pl-md-5 ftco-animate py-5">
					<div class="heading-section">

						<h2 class="mb-4">VT SPORT - Nền tảng đa năng cho đặt sân, tạo
							đội và mua sắm sản phẩm thể thao</h2>

						<p>Chào mừng bạn đến với VT SPORT, nơi bạn có thể tận hưởng
							trọn vẹn trải nghiệm thể thao thông qua việc đặt sân, tạo đội và
							mua sắm các sản phẩm thể thao chất lượng. Chúng tôi mang đến cho
							bạn một trung tâm toàn diện để thỏa mãn đam mê và nhu cầu về thể
							thao của bạn.</p>
						<p>1. Đặt Sân Thể thao Dễ dàng: Với VT SPORT, việc đặt sân trở
							nên dễ dàng và thuận tiện. Chúng tôi cung cấp một nền tảng trực
							tuyến để bạn có thể tìm kiếm và đặt sân thể thao một cách nhanh
							chóng. Bạn có thể lựa chọn từ một loạt các sân như bóng đá,
							tennis, cầu lông, bóng rổ và nhiều môn thể thao khác. Lịch trống,
							thông tin chi tiết về sân và giá cả sẽ giúp bạn đưa ra quyết định
							thông minh và linh hoạt.</p>
						<p>2. Tạo Đội và Tổ Chức Trận Đấu: VT SPORT cung cấp tính năng
							tạo đội và tổ chức trận đấu giữa các đội thể thao. Bạn có thể tạo
							đội riêng của mình hoặc tham gia vào các đội hiện có, tạo ra các
							trận đấu hấp dẫn và tham gia vào các giải đấu.</p>
						<p>3. Mua Sắm Sản phẩm Thể thao Chất lượng: VT SPORT không chỉ
							giúp bạn tận hưởng hoạt động thể thao mà còn cung cấp một cửa
							hàng trực tuyến với các sản phẩm thể thao chất lượng. Bạn có thể
							tìm thấy quần áo, giày, phụ kiện và dụng cụ thể thao từ các
							thương hiệu nổi tiếng. Chúng tôi cam kết mang đến cho bạn những
							sản phẩm chất lượng, đảm bảo sự thoải mái và hiệu suất tối đa
							trong mỗi hoạt động thể thao của bạn.</p>
						<p>4. Ưu đãi và Khuyến mãi: VT SPORT thường xuyên cung cấp các
							chương trình ưu đãi và khuyến mãi hấp dẫn cho người dùng. Bạn có
							thể tận hưởng những ưu đãi đặc biệt, giảm giá và các gói combo để
							tiết kiệm chi phí và nâng cao trải nghiệm thể thao của mình.</p>
						<p>Với tầm nhìn tạo ra một cộng đồng thể thao mạnh mẽ và đồng
							hành cùng người dùng trên hành trình thể thao, VT SPORT đang nỗ
							lực không ngừng để trở thành một nguồn tài nguyên hàng đầu cho
							người hâm mộ thể thao trên toàn quốc.</p>

					</div>

				</div>
			</div>
		</div>
	</section>







	<section
		class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light"
		id="section-counter">
		<div class="container">
			<div class="row">
				<div
					class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" th:text="${userCount}"></strong> <span>Người
								dùng tham gia</span>
						</div>
					</div>
				</div>
				<div
					class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" th:text="${eventCount[0]}">0</strong> <span>Sự
								kiện trong năm</span>
						</div>
					</div>
				</div>
				<div
					class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" th:text="${fieldCount[0]}">0</strong> <span>Sân
								thể thao</span>
						</div>
					</div>
				</div>
				<div
					class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" th:text="${productCount}">0</strong> <span>Sản
								phẩm thể thao</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<div th:replace="fragment/footeruser :: footerUser"></div>

	<script src="/user/js/jquery.min.js"></script>
	<script src="/user/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/user/js/popper.min.js"></script>
	<script src="/user/js/bootstrap.min.js"></script>
	<script src="/user/js/jquery.easing.1.3.js"></script>
	<script src="/user/js/jquery.waypoints.min.js"></script>
	<script src="/user/js/jquery.stellar.min.js"></script>
	<script src="/user/js/owl.carousel.min.js"></script>
	<script src="/user/js/jquery.magnific-popup.min.js"></script>
	<script src="/user/js/jquery.animateNumber.min.js"></script>
	<script src="/user/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/user/js/google-map.js"></script>
	<script src="/user/js/main.js"></script>

</body>
</html>